body {
  font-family: Verdana, sans-serif;
  background-color: black;
}

.MovieCard {
  background-color: #636363;
}

.MovieHeader {
  color: #dcdcdc;
}

.movieImg {
  border-color: #e4e4e4;
}

.movieSummary {
  color: #e4e4e4;
}

.button {
  color: white;
}

.acceptButton {
  background-color: #003800;
}

.rejectButton {
  background-color: #670000;
}
