$body-margin: 5px;

$loadingIconSize: 50px;
$loadingIconRotationSpeedMsPerRound: 3000ms;

$content-max-width: 500px;
$card-padding: 20px;
$gap-between-elements: 20px;

$footer-height: 50px;
$footer-font-size: 20px;
